{
  "presets": [
    "latest",
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "transform-runtime",
        "add-react-displayname",
        "ramda"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types",
        "ramda",
        "add-react-displayname",
        "transform-runtime"
      ]
    }
  }
}
