html,
body {
  background-color: #FAFAFA;
  height: 100%;
  width: 100%;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;

  .fontLoaded {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

  .wrapper {
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    max-width: calc(768px + 16px * 2);
    flex-direction: column;

    div:first-of-type div:first-of-type div:first-of-type {
      margin-top: 0 !important;
      margin: auto !important;
      margin-right: 8px !important;
    }
  }
:global(#app) {
  background-color: #FAFAFA;
  min-height: 100%;
  min-width: 100%;
}

button {
  -webkit-appearance: inherit !important;
}

.logoWrapper {
  padding: 2em 0;
}

.logo {
  width: 100%;
  margin: 0 auto;
  display: block;
}